@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,300,100italic,100,400,700);
.row
{
	 margin: 0% 5.5%;
}
.container
{
	padding: 0px 10px;; 
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
h1, h2, h3, h4, h5, h6, p
{
	font-family: 'Roboto', sans-serif;
}
.header
{
	padding: 15px 0px;
	margin: 0px;
	background: #34495E;
}
.logo
{
	margin:15px 0px 0px 35px;
}
.navbar-default
{
	background: #34495E;
}
.navbar-default .navbar-nav>li>a
{
	color: #8995A0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	box-sizing: border-box;
	font-weight: 400;	
}
.navbar-default .navbar-nav>li>a:hover
{background: #3F5060;
color: #fff;}
.carousel-inner
{
	box-sizing: border-box;
}
.adaptar
{
	width: 100%;
}
.carousel-caption 
{
	left: 8%;
	text-align: left;
	bottom: 0%;
	margin-bottom:13%;
	box-sizing: border-box;
	
}
.carousel-caption .titulo-slider
{

	font-size: 35px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
}
.carousel-caption .subtitulo-slider
{

	font-size: 15px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;	
}
.contenido
{
	background: #2ECC71
}
.redes-sociales
{
	padding: 4% 2.5% 4% 2.5%;
}

.redes-sociales .col-sm-4
{
	margin: 0px;
	padding: 0% 3% 0% 0%;
	box-sizing: border-box;
}
.media-left
{
	padding-right: 5px;
}
.text-int
{
	font-size: 15px;
	color: #fff;
	font-weight: 100;
}
.redes-sociales .col-sm-4 .text, .col-md-3 .text
{
	font-size: 22px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0px;
}

.fa-circle
{
   text-align: left;
   opacity: 0.4;
}
.page
{
   background: #F5F5F5;
}
.pictures
{
	padding: 8% 2.5% 10% 2.5%;
}
.pictures .col-md-3, .pictures .col-md-9,.pictures .col-md-9 .col-xs-4, .col-md-6, .futer .section-foo, .portafolio .col-md-12,.portafolio .col-md-12 .col-xs-4
{
	padding: 0px;
	box-sizing: border-box;	
}
.pictures .col-md-9 .col-xs-4 
{
	text-align: center;	
	box-sizing: border-box;
}
.col-md-3 .text, .col-md-3 .tt, 
{
	color: #34495E;
}
.pagination{
	margin: 0px;
}
.pagination li a, .btn 
{
	background: #D9534F;
	border: 1px solid #D43F3A;
	color: #fff;
}
.photo
{
	background: #fff;
	padding: 12px;
	box-sizing: border-box;
	margin: 0px 15px ;
	outline: 1px solid #c9d1d6;	
}
.photo img
{
    width: 100%;
}

.photo p
{
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	margin: 0px;
	padding-top: 2px;
}
.cli
{
background: #E74C3C; 
}
.clients
{
	padding: 8% 2.5% 8% 2.5%;

}
.clients .titulo h1
{
	margin: 0px;
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin-bottom:9px;
}
.clients .titulo p
{	
	text-align: center;
	margin-bottom:50px;	
}
.clients .col-md-12 .subtitulo
{
	font-size: 14px;
	color: #fff;
	font-weight: 100;	
}
.c-texto
{
	border-left: 5px solid #fff;
	margin: 15px 0px;
}
.c-texto .c-especial
{
	font-size: 12px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
}
.c-texto p
{
	font-size: 17.5px;
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding: 8px 0px;
}
footer
{
	background:  #34495E;
}
.futer
{
	padding: 3% 2.5% 4.5% 2.5%;
}
.futer .col-md-3 .text-foo
{
	color: #fff;
	padding-bottom: 7px;
	font-weight: 100;
	font-family:  'Roboto', sans-serif;;
	font-size: 18px;

}
.col-md-3 a, .col-md-3 h6 {
   color: #BDC3C7;
}
.futer .col-md-3 h6
{
	font-weight: 100;
	font-size: 12px;
}
.futer .col-md-3 .tf 
{
	font-weight: 300;
	font-size: 15px;
	color: #BDC3C7;
}
.futer .col-md-3 .list-foo li 
{
	list-style: none;
	
}
.futer .col-md-3 .list-foo li a
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	
}
.futer .col-md-3 .list-foo li a:hover
{
	text-decoration: none;
	color: #fff;
}
.futer .col-md-3 .list-foo
{
	padding: 0px;
}

.col-md-12 .media-left img
{
	width: 100%;
	font-size: 15px;
}
.about
{
	padding-right: 28px;
}
.cont-foo2
{
	background:  #2C3E50;
}
.futer2
{
	padding: 2.5% 2.5% 2.5% 2.5%;
}
.futer2 p{
	float: left;
	color: #BDC3C7;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;

}
.fa-chevron-up
{
	color: #BDC3C7;
}
.futer2 a,{
	color: #BDC3C7;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
}
.futer2 .lis-footer{
	float: right;
}
.futer2 .lis-footer li a
{
	list-style: none;
	color: #BDC3C7;
	
}
.futer2 .lis-footer li
{
	padding: 0px 5px;
	display: inline-block;
}
.her_green
{
	background-color:#2ECC71;
	color: #fff;
}
.port-gal
{
	background-color: #F5F5F5;
	padding: 5%;
}
.list_green li
{
	list-style: none;
	display:inline-block;
	float: right;
	padding: 10px;
	color: #fff;
}
.list_green li a
{
	color: #fff;
	text-align: center;
	font-weight: 100; 
}
.list_green 
{
    padding-top: 80px;
}
.list_green li
{
	list-style: none;
	display:inline-block;
	float: right;
	padding: 10px;
}
.list_green li a
{
	color: #fff;
	text-align: center;
	padding-top: 20%;
}
.ico_ser 
{
	font-size: 25px;
	text-align: center;
	padding: 15px;
}


.port-l2 
{
    background-color: #F5F5F5;
    padding: 5%; 
}
 .list_green
{
    float: right;
}


.listas-m li {
  list-style: none;
  display: inline-block;
  padding: 10px ; 
  color:  #C1F0D5}

.listas-m li a {
  color:  #C1F0D5;
  text-align: center;
  }
.listas-m {
float: right;
margin: 10px 0px 0px;

}
.listas-m li a:hover
{
color: #fff;
text-decoration: none;
}
.titulo-p
{
	float: left;
}
.her_green
{
	float: left;
}
.her_green h3
{
	font-size: 37px;
	font-weight: 400;
	margin-top: 0px;
}
.her_green p
{
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 0px;
}

.portafolio
{
	padding: 6% 2.5% 6% 2.5%;
}

.photo2
{
	background: #fff;
	padding: 8px;
	box-sizing: border-box;
	margin: 0px 15px ;
	outline: 1px solid #c9d1d6;
	
}
.photo2 img{
    width: 100%;
}

.photo2 p
{
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	margin: 0px;
	padding-top: 2px;
}

.portafolio .col-md-12{
	margin-top:30px;

}
.programs
{
	background: #F5F5F5;
}
.list-prog
{
	padding: 4% 2.5% 4% 2.5%;

}
.list-prog .col-sm-4
{
	margin: 0px;
	padding: 0% 3% 0% 0%;
	box-sizing: border-box;

	
}
.media-left
{
	padding-right: 5px;
}
.list-prog .col-sm-4 p,
{
	font-size: 15px;
	color: #354A5F;
	font-weight: 400;

	
}
.list-prog .col-sm-4 .text, .col-md-3 .text
{
	font-size: 24px;
	color: #34495E;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0px;
}
.programas2 .col-sm-12
{
	margin-top: 30px;
}

.list-prog .col-md-12 h1
{
	color: #34495E;
	text-align: center;
	font-size: 30px;
}
.list-prog .col-md-12 p
{
	color: #34495E;
	text-align: center;
	padding-bottom: 40px;
	font-size: 14px;
	font-weight: 300;
}
.parrafo
{
	color: #34495E;
	font-size: 14.3px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.servicio
{
	padding: 3% 2.5% 6% 2.5%;
}
.servicio .titulo h1
{
	margin: 0px;
	color: #34495E;
	text-align: center;
	font-size: 30px;
	margin-bottom:9px;
}
.servicio .titulo p
{
	
	text-align: center;
	margin-bottom:50px;
	
}
.servicio .col-md-12 .subtitulo
{
	font-size: 14px;
	color: #34495E;
	font-weight: 500;

	
}
iframe
{
	width: 100%;
	height: 212px;
}
label
{
	color: #34495E;
	font-size: 20px;
	font-weight: 100
}
textarea
{
	margin-top: 11%;
}
.location
{
	margin-bottom: 21px;
}
.form-group
{
	margin: 0px;
}
.botonenv
{
	background: #428BCA;
	border: 1px solid #357EBD;
	padding: 9px 14px;
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
}
.c-texto2
{
	border-left: 5px solid #34495E;
	margin: 15px 0px;
}
.c-texto2 .c-especial2
{
	font-size: 12px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding: 0px;

}
.c-texto2 p
{
	font-size: 17.5px;
    color: #425569;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 0px;

}
hr
{
	width: 84%;
	margin: 0 auto;
	border-bottom: 1px solid white;
}
.icono
{
	text-align: center;
}
.progreso
{
	background: #F5F5F5;
}
.textop
{
	padding: 6% 2.5% 4% 2.5%;
}
.textop h1
{
	margin: 0px;
	color: #34495E;
	font-size: 30px;
	margin-bottom:9px;
}
.textop p
{
	font-size: 15px;
	color: #34495E;
	font-weight: 500;	
}
.sectiond
{
	padding-right: 3%;
}
.progress
{
	height: 30px;
}
.parte2 h1
{
	margin: 0px;
	text-align: center;
	color: #34495E;
	font-size: 40px;
	margin-bottom:9px;
}
.parte2 p
{
	font-size: 20px;
	color: #34495E;
	text-align: center;
	font-weight: 500;	
}
.trabajador
{
	text-align: center;
	margin-top: 5%;
}
.trabajador .nom
{
	font-size: 16px;
	color: #34495E;
	font-weight: 500;	
}
.trabajador h5
{
	font-size: 13px;
	color: #34495E;
	font-weight: 300;	
}
.circle1
{
	color: #4F7DD4;
	opacity: 10;
	text-align: center;
}
.circle2
{
	color: #DC422B;
	opacity: 10;
	text-align: center;
}
.circle3
{
	color: #5BCEFF;
	opacity: 10;
	text-align: center;
}
.circle4
{
	color: #21A6D8;
	opacity: 10;
	text-align: center;
}
