.color1
{
	background: #34495E;
}
.verde
{
	background: #2ECC71;
}
.blanco
{
	background: #F5F5F5;
}
.rojo
{
	background: #E74C3C;
}
.color5
{
	background: #34495E;
}
.footer2
{
	background: #2C3E50;
}
