@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.cont-foo {
	width: 100%;
	background-color: #34495E;
	color: #fff;
}
.list-foo li{
text-align: none;
}
.cont-foo2 {
	width: 100%;
	background-color: #2C3E50;
	color: #fff;
}
.lis-footer li{
	display: inline-block;
	text-align: none;
	float: right;
}